/Rueda_De_La_Fortuna/build/
/Numero_Primo/nbproject/private/
/Numero_Primo/build/
/Juego_Fortuna/nbproject/private/
/Juego_Fortuna/build/
/Palindromo/nbproject/private/
/Palindromo/build/
/Expresiones/nbproject/private/
/ejemploclases/nbproject/private/
/nombres_frame/nbproject/private/
/nombres_frame/build/
/NecFlis/nbproject/private/
/NecFlis/build/
/Proyecto_NecFlis/target/
